#database of users willing to receive menu updates
db.json

#Telegram API key
token.txt

#current menu files
Monday.txt
Tuesday.txt
Wednesday.txt
Thursday.txt
Friday.txt

#Mainly .ipynb notebooks for crash-testing ideas
ideas/

#Rating stats archive and subscriber database backups
stats_archive/
subscribers_archive/
